.main_div
{
    text-align: center;
}

body
{
    background-size: cover;
}


#button{
    width: 200px;
    height: 50px;
    padding: 50;
}

.heading_main
{
    font-size: 25px;
    text-align: center;
    color :red;
    box-shadow: 5px 5px 5px orange;
    font-family: 'Allison', cursive;
}